<% unless current_user %>
  <%= link_to "Register", new_user_path %>
  <%= link_to "Login", login_path %>
<% end %>

<% if current_user %>
  <h1>Welcome <%= current_user.email %></h1>
  <h1><%= link_to "Logout", login_path, method: :delete %></h1>
  <button type="button" id="restaurant">Create Restaurant</button>
<% end %>

<div class="restaurants">
<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <p>Name: <%= restaurant.name %></p>
  <p>Cuisine: <%= restaurant.cuisine %></p>
  <p>City: <%= restaurant.city %></p>
  <p>State: <%= restaurant.state %></p>
  <p>Zip: <%= restaurant.zip %></p>
  <p>Creator: <%= restaurant.user.email %></p></br>
<% end %>
</div>
